$color-bg-1: #070049;
$color-bg-2: #929FA3;
$color-bg-3: #004260;
$color-bg-4: #4690bc;
$color-bg-5: #f7f7fc;

$color-fg-1: white;
$color-fg-2: #04002b;
$color-fg-3: #19788b;

/**
 *	SERVICE UTILITIES
 **/
.debugBorder{
	border: 1px solid rgb(231, 0, 0);
}
